*{ cursor: url(../cursor.png) 3 3, default !important;}

/* cursor */
div.cursor-container
{
    --cursor-unit: 0.2vmax;
    --cursor-color: rgb(57, 197, 187);
    --cursor-scale: 1.0;

    position: fixed;
    pointer-events: none;
    height: calc(3.5vmax * var(--cursor-scale));
    width: calc(3.5vmax * var(--cursor-scale));
    animation: cursor-entry 1s ease;
    transition: translate 50ms ease;
    z-index: 3939;
}

div.cursor-container div.cursor-outer
{
    position: absolute;
    pointer-events: inherit;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    width: calc(2vmax * var(--cursor-scale));
    height: calc(2vmax * var(--cursor-scale));
    transition: height 0.3s ease, width 0.3s ease, opacity 0.2s ease;
    background-color: transparent;
    animation: cursor-point-rotate 4s linear infinite;
    z-index: 0;
}

div.cursor-container div.cursor-circle
{
    position: absolute;
    pointer-events: inherit;
    top: 50%; left: 50%;
    height: calc(2.3vmax * var(--cursor-scale)); 
    width: calc(2.3vmax * var(--cursor-scale));
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: calc(var(--cursor-unit) * 1.2);
    border-color: var(--cursor-color);
    transition: opacity 0.2s ease, width 0.3s ease, height 0.3s ease;
    box-shadow: 0px 0px calc(var(--cursor-unit)) rgba(0, 0, 0, 0.4), 
    0px 0px calc(var(--cursor-unit) / 1.5) rgba(0, 0, 0, 0.4) inset;
    z-index: 1;
}

div.cursor-outer div.cursor-inner-warp
{
    position: absolute;
    pointer-events: inherit;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

div.cursor-outer div.cursor-inner
{
    position: absolute;
    pointer-events: inherit;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cursor-color);
    width: calc(var(--cursor-unit) * 2);
    height: calc(var(--cursor-unit) * 2);
    border-radius: 50%;
    border-width: var(--cursor-unit);
    box-shadow: 0px 0px calc(var(--cursor-unit)) rgba(0, 0, 0, 0.4);
}

div.cursor-effect
{
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    height: calc(2.8vmax * var(--cursor-scale));
    width: calc(2.8vmax * var(--cursor-scale));
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(57, 197, 187);
    border-width: 0.4vmax;
    opacity: 0;
    animation: cursor-effecting 0.4s ease infinite;
    z-index: 3938;
}

@keyframes cursor-effecting{
    0%      {height: 2.8vmax; width: 2.8vmax; border-width: 0.4vmax; border-color: rgba(57, 197, 187, 0.5);}
    100%    {height: 6.8vmax; width: 6.8vmax; border-width: 0.4vmax; border-color: rgba(57, 197, 187, 0.0);}
}

@keyframes cursor-point-rotate{
    0%      {rotate: 0deg;}
    100%    {rotate: 360deg;}
}

@keyframes cursor-entry{
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}
