div.dstyle-nav
{
    --nav-unit: 1vmax;
    --anime-time: 0.3s;
    --nav-color-bg: #1db1a7;
    --nav-color-fg: white;

    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;

    position: fixed;
    transform-origin: left;
    transition: box-shadow calc(var(--anime-time) * 1.5) ease,
                background-color var(--anime-time) ease;
}

div.dstyle-navSTtop
{
    top: 0; left: 0;
    width: 100%; height: calc(var(--nav-unit) * 5);
    background-color: transparent;
}

div.dstyle-navSTdrag, 
div.dstyle-navSTbubble
{
    top:0; left: 0;
    width: 100%; height: calc(var(--nav-unit) * 5);
    background-color: transparent;
}

div.dstyle-navTfloat
{
    box-shadow: 0 0 calc(var(--nav-unit) / 1.5) rgba(0, 0, 0, 0.5);
    background-color: var(--nav-color-bg);
}

/* nav ALL */

div.dstyle-nav div.dstyle-nav-title
{
    position: absolute;
    left: calc(var(--nav-unit) * 4.5);
    top: calc(var(--nav-unit) * 1.5);
    height: calc(var(--nav-unit) * 2.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--nav-unit) * 2);
    color: white;
    overflow: hidden;
}

div.dstyle-nav div.dstyle-nav-content
{
    pointer-events: all;
    position: absolute;
    left: 50%; top: 0;
    height: 100%; width: 50%;
    background-color: transparent;
}

/* bubble Container */
div.dstyle-nav-bubble-container a
{
    position: relative;
    display: block;
    text-align: center;
    padding-top: 3%;
    height: calc(var(--nav-unit) * 2.5);
    width: 80%; left: 10%;
    background-color: aliceblue;
    color: #1db1a7;
}

/* nav STatus top */

div.dstyle-navSTtop div.dstyle-nav-bubble-container
{
    position: absolute;
    opacity: 1; pointer-events: none;
    height: auto; width: calc(var(--nav-unit) * 15);
    background-color: aqua;
}

div.dstyle-navSTtop div.dstyle-nav-container
{
    width: 100%; height: 100%;
    transform-origin: left;
    opacity: 1;
    scale: 1 1;
    transition: scale calc(var(--anime-time) * 1.5) ease, opacity var(--anime-time) ease;
}

div.dstyle-navSTtop div.dstyle-nav-trigger
{
    position: absolute;
    pointer-events: all;
    background-color: transparent;
    border-radius: 10%;
    top: calc(var(--nav-unit) * 0.75);
    left: calc(var(--nav-unit) * 1);
    height: calc(var(--nav-unit) * 3.5);
    width: calc(var(--nav-unit) * 1.5);
    transition: background-color var(--anime-time) ease, 
                box-shadow var(--anime-time) ease, scale var(--anime-time) ease, 
                translate var(--anime-time) ease;
    z-index: 1;
}

div.dstyle-navSTtop div.dstyle-nav-trigger-icondiv
{
    position: absolute;
    height: 100%; width: 100%;
    background-color: transparent;
    transition: scale var(--anime-time) ease;
}

div.dstyle-navSTtop div.dstyle-nav-trigger:hover div.dstyle-nav-trigger-icondiv
{
    scale: 0.5 1;
}

div.dstyle-navSTtop div.dstyle-nav-trigger-icon1
{
    position: absolute;
    width: calc(var(--nav-unit) * 2);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    rotate: 90deg;
    translate: -50% -50%;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease;
}

div.dstyle-navSTtop div.dstyle-nav-trigger-icon2
{
    position: absolute;
    width: calc(var(--nav-unit) * 2);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    rotate: 90deg;
    translate: -50% -50%;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease;
}

div.dstyle-navSTtop div.dstyle-nav-trigger-icon3
{
    position: absolute;
    width: calc(var(--nav-unit) * 2);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    rotate: 90deg;
    translate: -50% -50%;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease;
}

div.dstyle-navSTtop div.dstyle-nav-trigger:hover
{
    background-color: var(--nav-color-bg);
    box-shadow: 0 0 calc(var(--nav-unit) / 3) rgba(0, 0, 0, 0.5);
    scale: 2 1;
    translate: 50% 0;
}

div.dstyle-navSTtop div.dstyle-nav-trigger:active
{
    box-shadow: 0 0 calc(var(--nav-unit) / 9) rgba(0, 0, 0, 0.5);
}

div.dstyle-navSTtop div.dstyle-nav-trigger:hover div.dstyle-nav-trigger-icon2
{
    translate: -45% -50%;
    scale: 0.8 1;
    rotate: 0deg;
}

div.dstyle-navSTtop div.dstyle-nav-trigger:hover div.dstyle-nav-trigger-icon1
{
    translate: -75% -150%;
    scale: 0.5 1;
    rotate: -45deg;
}

div.dstyle-navSTtop div.dstyle-nav-trigger:hover div.dstyle-nav-trigger-icon3
{
    translate: -75% 30%;
    scale: 0.5 1;
    rotate: 45deg;
}

/* nav STatus bubble */

div.dstyle-navSTdrag div.dstyle-nav-container,
div.dstyle-navSTbubble div.dstyle-nav-container
{
    width: 100%; height: 100%;
    opacity: 0;
    scale: 0 0.5;
    transform-origin: left top;
    transition: scale calc(var(--anime-time) * 1.5) ease, opacity var(--anime-time) ease;
}

div.dstyle-navSTdrag div.dstyle-nav-trigger
{
    position: absolute;
    pointer-events: all;
    background-color: #1db1a7;
    box-shadow: calc(var(--nav-unit) / 5) calc(var(--nav-unit) / 5) 
                calc(var(--nav-unit) / 3) rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: calc(var(--nav-unit) * 3.5);
    width: calc(var(--nav-unit) * 3.5);
    scale: 1 1;
    transition: background-color var(--anime-time) ease, 
                border-radius var(--anime-time) ease,
                box-shadow var(--anime-time) ease,
                translate 50ms ease;
    z-index: 1;
}

div.dstyle-navSTbubble div.dstyle-nav-trigger
{
    position: absolute;
    pointer-events: all;
    background-color: #1db1a7;
    box-shadow: calc(var(--nav-unit) / 5) calc(var(--nav-unit) / 5) 
                calc(var(--nav-unit) / 3) rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: calc(var(--nav-unit) * 3.5);
    width: calc(var(--nav-unit) * 3.5);
    left: 0; top: 0;
    scale: 1 1;
    transition: background-color var(--anime-time) ease, 
                border-radius var(--anime-time) ease,
                box-shadow var(--anime-time) ease, 
                translate var(--anime-time) ease, 
                left var(--anime-time) ease, top var(--anime-time) ease;
    z-index: 1;
}

div.dstyle-navSTdrag div.dstyle-nav-trigger-icondiv,
div.dstyle-navSTbubble div.dstyle-nav-trigger-icondiv
{
    width: 100%; height: 100%;
    background-color: transparent;
}

div.dstyle-navSTbubble div.dstyle-nav-trigger-icon1
{
    position: absolute;
    width: calc(var(--nav-unit) * 1.5);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    translate: -50% 150%;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease;
}

div.dstyle-navSTbubble div.dstyle-nav-trigger-icon2
{
    position: absolute;
    width: calc(var(--nav-unit) * 1.5);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    border: 1px white solid;
    translate: -50% -50%;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease, border var(--anime-time) ease, 
                height var(--anime-time) ease, width var(--anime-time) ease;
}

div.dstyle-navSTbubble div.dstyle-nav-trigger-icon3
{
    position: absolute;
    width: calc(var(--nav-unit) * 1.5);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    translate: -50% -250%;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease;
}

div.dstyle-navSTbubble div.dstyle-nav-trigger:hover div.dstyle-nav-trigger-icon1
{
    translate: -50% 200%;
    scale: 0.5 1;
}

div.dstyle-navSTbubble div.dstyle-nav-trigger:hover div.dstyle-nav-trigger-icon2
{
    translate: -50% -50%;
}

div.dstyle-navSTbubble div.dstyle-nav-trigger:hover div.dstyle-nav-trigger-icon3
{
    translate: -50% -300%;
    scale: 0.5 1;
}

/* nav STatus drag */

div.dstyle-navSTdrag div.dstyle-nav-trigger
{
    box-shadow: calc(var(--nav-unit) / 2) calc(var(--nav-unit) / 2) 
                calc(var(--nav-unit) / 2) rgba(0, 0, 0, 0.5);
}

div.dstyle-navSTdrag div.dstyle-nav-trigger-icon1
{
    position: absolute;
    width: calc(var(--nav-unit) * 1.5);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    translate: -50% -50%;
    scale: 0.9 1;
    rotate: 90deg;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease;
}

div.dstyle-navSTdrag div.dstyle-nav-trigger-icon2
{
    position: absolute;
    width: calc(var(--nav-unit) * 2.5);
    height: calc(var(--nav-unit) * 2.5);
    left: 50%; top: 50%;
    border-radius: 50%;
    border: calc(var(--nav-unit) * 0.2) var(--nav-color-fg) solid;
    translate: -50% -50%;
    background-color: transparent;
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease, height var(--anime-time) ease, 
                width var(--anime-time) ease, border var(--anime-time) ease; 
}

div.dstyle-navSTdrag div.dstyle-nav-trigger-icon3
{
    position: absolute;
    width: calc(var(--nav-unit) * 1.5);
    height: calc(var(--nav-unit) * 0.3);
    left: 50%; top: 50%;
    border-radius: calc(var(--nav-unit));
    translate: -50% -50%;
    scale: 0.9 1;
    background-color: var(--nav-color-fg);
    transition: translate var(--anime-time) ease, rotate var(--anime-time) ease,
                scale var(--anime-time) ease;
}