*{
    box-sizing: border-box;
}

body
{
    cursor: url(cursor.png) 3 3, default;
    background-color: rgb(207, 228, 247);
}

/* full screen div */
div.fullscreen-div
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* loader */
div.loader
{
    --loder-back-size: 15vmax;
    --loader-frame-color: #39c5bb;
    --loader-tips-color: #39c5bb;
    --loader-matrix-color: #39c5bb;
    --loader-text-color: white;

    position: absolute;
    width: 30vmax;
    height: 40vmax;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loader-breath 5s ease infinite
}

div.loader div.loader-back
{
    position: absolute;
    width: var(--loder-back-size);
    height: var(--loder-back-size);
    background-color: var(--loader-frame-color);

    z-index: 1;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    box-shadow: 0px 0px 1.5vmax rgba(0, 0, 0, 0.4);

    opacity: 1;
    animation: loader-back-animation 2s;
}

div.loader div.loader-tips
{
    user-select: none;
    position: absolute;
    top: 66%;
    left: 0%;

    width: 100%;
    height: 10%;

    animation: loader-tips-entry 2s ease;
}

div.loader-tips>p
{
    position: absolute;
    margin: 0px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: var(--loader-tips-color);
    font-size: calc(var(--loder-back-size) / 7);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 1vmax rgba(0, 0, 0, 0.4);
    animation: loader-tips-breath 5s ease infinite;
}

div.loader-box
{
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 10%;
}

div.loader-box-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--loader-text-color);
    z-index: -1;
}

div.loader-container
{
    position: absolute;
    user-select: none;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 1vmax rgba(0, 0, 0, 0.5) inset;
}

div.loader-container table
{
    position: absolute;
    user-select: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

div.loader-container tr
{
    height: 50%;
    user-select: none;
}

div.loader-container td
{
    user-select: none;
    vertical-align: middle;
    text-align: center;
    color: var(--loader-text-color);
    font-size: calc(var(--loder-back-size) / 4.2);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div.loader-matrix
{
    position: absolute;
    top: 0%;
    left: 0%;

    height: 50%;
    width: 50%;
    z-index: 0;

    background: var(--loader-matrix-color);
    animation: matrix-animation 5s infinite;
}

@keyframes matrix-animation
{
    0%      {top: 0%;left: 0%;height: 50%;width: 50%;}
    12.5%   {top: 0%;left: 0%;height: 50%;width: 75%;}
    25%     {top: 0%;left: 50%;height: 50%;width: 50%;}
    37.5%   {top: 0%;left: 50%;height: 70%;width: 50%;}
    50%     {top: 50%;left: 50%;height: 50%;width: 50%;}
    62.5%   {top: 50%;left: 30%;height: 50%;width: 70%;}
    75%     {top: 50%;left: 0%;height: 50%;width: 50%;}
    87.5%   {top: 30%;left: 0%;height: 70%;width: 50%;}
    100%    {top: 0%;left: 0%;height: 50%;width: 50%;}
}

@keyframes loader-back-animation
{
    0%      {opacity: 0; top: 50%;}
    100%    {opacity: 1; top: 40%;}
}

@keyframes loader-tips-entry
{
    0%      {opacity: 0; top: 60%;}
    100%    {opacity: 1; top: 66%;}
}

@keyframes loader-tips-breath
{
    0%      {opacity: 0;}
    50%     {opacity: 1;}
    100%    {opacity: 0;}
}

@keyframes loader-breath
{
    0%      {top: 50%;}
    50%     {top: 52%;}
    100%    {top: 50%;}
}

/* cursor */
div.cursor-container
{
    --cursor-unit: 0.2vmax;
    --cursor-color: rgb(57, 197, 187);

    position: fixed;
    pointer-events: none;
    height: 3.5vmax;
    width: 3.5vmax;
    transform: translate(-50%, -50%);
    animation: cursor-entry 1s ease;
    transition: left 50ms ease, top 50ms ease;
    z-index: 3939;
}

div.cursor-container div.cursor-outer
{
    position: absolute;
    pointer-events: inherit;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 2vmax; height: 2vmax;
    transform-origin: left top;
    transition: height 0.3s ease, width 0.3s ease, opacity 0.2s ease;
    background-color: transparent;
    animation: cursor-point-rotate 4s linear infinite;
    z-index: 0;
}

div.cursor-container div.cursor-circle
{
    position: absolute;
    pointer-events: inherit;
    top: 50%; left: 50%;
    height: 2.3vmax; width: 2.3vmax;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: calc(var(--cursor-unit) * 1.2);
    border-color: var(--cursor-color);
    transition: opacity 0.2s ease, width 0.3s ease, height 0.3s ease;
    box-shadow: 0px 0px calc(var(--cursor-unit)) rgba(0, 0, 0, 0.4), 
    0px 0px calc(var(--cursor-unit) / 1.5) rgba(0, 0, 0, 0.4) inset;
    z-index: 1;
}

div.cursor-outer div.cursor-inner-warp
{
    position: absolute;
    pointer-events: inherit;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

div.cursor-outer div.cursor-inner
{
    position: absolute;
    pointer-events: inherit;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cursor-color);
    width: calc(var(--cursor-unit) * 2);
    height: calc(var(--cursor-unit) * 2);
    border-radius: 50%;
    border-width: var(--cursor-unit);
    box-shadow: 0px 0px calc(var(--cursor-unit)) rgba(0, 0, 0, 0.4);
}

div.cursor-effect
{
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    height: 2.8vmax; width: 2.8vmax;
    border-radius: 50%;
    border-style: solid;
    border-color: #39c5bb;
    border-width: 0.4vmax;
    animation: cursor-effecting 0.4s ease infinite;
    z-index: 3938;
}

@keyframes cursor-effecting{
    0%      {height: 2.8vmax; width: 2.8vmax; border-width: 0.4vmax; opacity: 0;}
    5%      {height: 2.8vmax; width: 2.8vmax; border-width: 0.4vmax; opacity: 0;}
    6%      {height: 2.8vmax; width: 2.8vmax; border-width: 0.4vmax; opacity: 0.5;}
    100%    {height: 6.8vmax; width: 6.8vmax; border-width: 0.4vmax; opacity: 0;}
}

@keyframes cursor-point-rotate{
    0%      {rotate: 0deg;}
    100%    {rotate: 360deg;}
}

@keyframes cursor-entry{
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}

/* button */
div.css-button
{
    --button-unit: 4em;
    --button-frame-color: #39c5bb;
    --button-hover-text-color: #5fc6bf;
    --button-hover-background: #30afa6;
    --button-hover-background-breath: #13a39a;
    --button-active-text-color: #2ebcb3;
    --button-active-background: #109f95;

    user-select: none;
    position: absolute;
    cursor: inherit;
    background-color: transparent;
    height: var(--button-unit);
    width: calc(var(--button-unit) * 2.5);
}

div.css-button button
{
    position: absolute;
    cursor: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-color: var(--button-frame-color);
    border-style: solid;
    border-width: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--button-frame-color);
    font-weight: bold;
    background-color: transparent;
    transition: box-shadow 0.3s, text-shadow 0.3s, background-color 0.2s, color 0.2s;
}

div.css-button button:hover
{
    color: var(--button-hover-text-color);
    text-shadow: 0px 0px 0.2vmax rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 0.4vmax rgba(0, 0, 0, 0.4);
    background-color: var(--button-hover-background);
}

div.css-button button:active
{
    color: var(--button-active-text-color);
    box-shadow: 0px 0px 0.1vmax rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 0.2vmax rgba(0, 0, 0, 0.4);
    background-color: var(--button-active-background);
}

